<form class="modal-dialog" id="AddEmployee">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add Employee</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="new-fname" class="no-placeholder">Name</label>
        <input type="text" name="new-fname" id="new-fname" placeholder="First Name" class="form-control">
        <input type="text" name="new-lname" id="new-lname" placeholder="Last Name" class="form-control">
        <input type="text" name="job-title" id="job-title" placeholder="Job Title" class="form-control">
      </div>
      <div class="form-group">
        <label for="street" class="no-placeholder">Address</label>
        <input type="text" name="street" id="street" placeholder="Street Address" class="form-control">
        <label for="street2" class="no-placeholder">Address 2</label>
        <input type="text" name="street2" id="street2" placeholder="Apartment, P.O. Box" class="form-control">
        <label for="city" class="no-placeholder">City</label>
        <input type="text" name="city" id="city" placeholder="City" class="form-control">
        <label for="state" class="no-placeholder">State</label>
        <input type="text" name="state" id="state" placeholder="State" class="form-control">
        <label for="zip" class="no-placeholder">Zip Code</label>
        <input type="text" name="zip" id="zip" placeholder="Zip Code" class="form-control">
      </div>
      <div class="form-group">
        <label for="new-email" class="no-placeholder">Email Address</label>
        <input type="text" name="new-email" id="new-email" placeholder="Email Address" class="form-control">
        <label for="new-phone" class="no-placeholder">Phone Number</label>
        <input type="text" name="new-phone" id="new-phone" placeholder="Phone Number" class="form-control">
      </div>
    <footer class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </footer>
  </div>
</form>
