<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Employee Directory</a>
		</div>
	</div>
</nav>
<header id="hero">
	<div class="container-fluid">
		<div class="container">
			<div class="col-sm-12">
				<div class="page-header">
					<h1>404 Not Found</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="content" class="loggedout">
	<div class="container-fluid">
		<div class="container" id="wrapper">
			<div class="col-sm-12 col-md-6 col-lg-6 centered">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="container-fluid">
							<div class="col-sm-12">
								<h2>Sorry Profile Not Found</h2>
								<p>Our system cannot locate this employee profile. If you feel you reached this page in error please try signing in again.</p>
							</div>
						</div>
						<div class="container-fluid">
							<div class="col-sm-12 col-md-6 col-lg-6">
								<a href="javascript:;" title="Sign In" class="disclosure" id="notfound">Sign In</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
