<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Employee Directory</a>
		</div>
	</div>
</nav>
<header id="hero">
	<div class="container-fluid">
		<div class="container">
			<div class="col-sm-12">
				<div class="page-header">
					<h1>Start Connecting with Your Colleagues</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<section id="content" class="loggedout">
	<div class="container-fluid">
		<div class="container" id="wrapper">
			<div class="col-sm-12 col-md-6 col-lg-6 centered">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="container-fluid">
							<div class="col-sm-12">
								<h2>Log In</h2>
							</div>
						</div>
						<form id="log-in">
							<div class="container-fluid">
								<span class="log-in__cmnpt form-group col-sm-12">
									<label for="user" class="no-placeholder">User Name </label>
									<input type="text" name="user" id="user" placeholder="User Name" class="form-control">
								</span>
							</div>
							<div class="container-fluid">
								<span class="log-in__cmnpt form-group col-sm-12">
									<label for="password" class="no-placeholder">Password </label>
									<input type="password" name="password" id="password" placeholder="password" class="form-control">
								</span>
							</div>
							<div class="container-fluid">
								<div class="col-sm-12 col-md-6 col-lg-6">
									<a href="javascript:;" title="Reset Your Password" class="disclosure" id="forgot">Forgot Your Password</a>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-6">
									<input type="button" name="login-submit" id="login-submit" class="btn btn-default" value="Sign In">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
