.usr-profile {
	#contactslist {
		h2 {margin: 21px 0 30px;}
		ul {
			li {
				height: 60px;
				background: #ccc;
				padding: 0 12px;
				margin: 0 0 6px;
				border: 1px solid #333;
				position: relative;
				@include border-radius(4px);
				strong {line-height: 60px;}
				.contact-avatar {
					display: inline-block;
					width: 50px;
					height: 50px;
					margin-right: 12px;
					vertical-align: middle;
					overflow: hidden;
					position: relative;
					top: -2px;
					@include border-radius(100%);
					img {
						width: 100%;
						height: 100%;
					}
					span {
						@include border-radius(100%);
						font-family: 'FontAwesome';
						display: inline-block;
						text-align: center;
						margin-right: 12px;
						background: $white;
						font-size: 2em;
						height: 50px;
						width: 50px;
						color: #333;
					}
				}
				a {
					&:hover {
						text-decoration: none;
					}
				}
				address {
					display: none;
					z-index: 10;
					top: -126px;
					background: $white;
					position: absolute;
					padding: 12px;
					width: 250px;
					border: 1px solid #333;
					$colors: (main: $white, mainTrans: rgba(255,255,255,0), border: #333, borderTrans: rgba(51,51,51,0));
					@include cssArrow(bottom,true,12,$colors,50%);
					@include border-radius(4px);
					&.address--button-group {top: -174px;}
				}
				&:hover {
					address {
						display: inline-block;
						left: -48%;
					}
				}
			}
			.btn-group {
				float: right;
				margin-top: 9px;
				.btn {
					font-family: 'FontAwesome';
					&[disabled] {cursor: not-allowed;}
				}
			}
		}
	}
}