@charset "UTF-8";
.usr-profile #contactslist h2 {
  margin: 21px 0 30px; }

.usr-profile #contactslist ul li {
  height: 60px;
  background: #ccc;
  padding: 0 12px;
  margin: 0 0 6px;
  border: 1px solid #333;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .usr-profile #contactslist ul li strong {
    line-height: 60px; }
  .usr-profile #contactslist ul li .contact-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    top: -2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }
    .usr-profile #contactslist ul li .contact-avatar img {
      width: 100%;
      height: 100%; }
    .usr-profile #contactslist ul li .contact-avatar span {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      font-family: 'FontAwesome';
      display: inline-block;
      text-align: center;
      margin-right: 12px;
      background: #fff;
      font-size: 2em;
      height: 50px;
      width: 50px;
      color: #333; }
  .usr-profile #contactslist ul li a:hover {
    text-decoration: none; }
  .usr-profile #contactslist ul li address {
    display: none;
    z-index: 10;
    top: -126px;
    background: #fff;
    position: absolute;
    padding: 12px;
    width: 250px;
    border: 1px solid #333;
    position: relative;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    .usr-profile #contactslist ul li address:after, .usr-profile #contactslist ul li address:before {
      border: solid transparent;
      pointer-events: none;
      position: absolute;
      content: " ";
      height: 0;
      width: 0;
      top: 100%;
      left: 50%; }
    .usr-profile #contactslist ul li address:after {
      border-color: rgba(51, 51, 51, 0);
      border-top-color: #fff;
      border-width: 12px;
      margin-left: -12px; }
    .usr-profile #contactslist ul li address:before {
      border-color: rgba(51, 51, 51, 0);
      border-top-color: #333;
      border-width: 13px;
      margin-left: -13px; }
    .usr-profile #contactslist ul li address.address--button-group {
      top: -174px; }
  .usr-profile #contactslist ul li:hover address {
    display: inline-block;
    left: -48%; }

.usr-profile #contactslist ul .btn-group {
  float: right;
  margin-top: 9px; }
  .usr-profile #contactslist ul .btn-group .btn {
    font-family: 'FontAwesome'; }
    .usr-profile #contactslist ul .btn-group .btn[disabled] {
      cursor: not-allowed; }

.loggedout {
  background: #fff url("../img/login-bg.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 90px 0 90px; }
  .loggedout .panel {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 33px; }
  .loggedout #log-in .log-in__cmnpt {
    margin-bottom: 33px; }
    .loggedout #log-in .log-in__cmnpt input[type=text], .loggedout #log-in .log-in__cmnpt input[type=password] {
      -webkit-appearance: none;
      font-family: "Roboto Slab", "Georgia", "Cambria", "Times New Roman", "Times", serif;
      font-weight: 300;
      font-size: 1.875rem;
      height: 51px;
        height-padding: 0px 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -ms-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -o-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12); }
      .loggedout #log-in .log-in__cmnpt input[type=text]::-webkit-input-placeholder, .loggedout #log-in .log-in__cmnpt input[type=password]::-webkit-input-placeholder {
        color: inherit; }
      .loggedout #log-in .log-in__cmnpt input[type=text]:-moz-placeholder, .loggedout #log-in .log-in__cmnpt input[type=password]:-moz-placeholder {
        color: inherit; }
      .loggedout #log-in .log-in__cmnpt input[type=text]::-moz-placeholder, .loggedout #log-in .log-in__cmnpt input[type=password]::-moz-placeholder {
        color: inherit; }
      .loggedout #log-in .log-in__cmnpt input[type=text]:-ms-input-placeholder, .loggedout #log-in .log-in__cmnpt input[type=password]:-ms-input-placeholder {
        color: inherit; }
    .loggedout #log-in .log-in__cmnpt.has-error label.has-error {
      color: inherit;
      display: block;
      font-weight: 400;
      margin-top: 6px;
      font-size: 0.775em; }
  .loggedout #log-in .disclosure {
    padding: 6px 0; }

.dropdown-menu .js-modal-trigger, .dropdown-menu .js-trigger {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  text-align: left !important; }
  .dropdown-menu .js-modal-trigger:hover, .dropdown-menu .js-trigger:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5; }

.modal-dialog input[type=text], .modal-dialog input[type=password] {
  -webkit-appearance: none;
  font-family: "Roboto Slab", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-weight: 300;
  font-size: 1.875rem;
  height: 51px;
    height-padding: 0px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -o-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12); }
  .modal-dialog input[type=text]::-webkit-input-placeholder, .modal-dialog input[type=password]::-webkit-input-placeholder {
    color: inherit; }
  .modal-dialog input[type=text]:-moz-placeholder, .modal-dialog input[type=password]:-moz-placeholder {
    color: inherit; }
  .modal-dialog input[type=text]::-moz-placeholder, .modal-dialog input[type=password]::-moz-placeholder {
    color: inherit; }
  .modal-dialog input[type=text]:-ms-input-placeholder, .modal-dialog input[type=password]:-ms-input-placeholder {
    color: inherit; }

.modal-dialog#AddEmployee .form-control {
  -webkit-appearance: none;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.525rem;
    font-size-height: 33px;
    font-size-padding: 0px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  -o-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
  display: block;
  margin-bottom: 9px; }
  .modal-dialog#AddEmployee .form-control::-webkit-input-placeholder {
    color: inherit; }
  .modal-dialog#AddEmployee .form-control:-moz-placeholder {
    color: inherit; }
  .modal-dialog#AddEmployee .form-control::-moz-placeholder {
    color: inherit; }
  .modal-dialog#AddEmployee .form-control:-ms-input-placeholder {
    color: inherit; }

.modal-dialog.has-error {
  display: none; }
  .modal-dialog.has-error label.has-error {
    color: inherit;
    display: block;
    font-weight: 400;
    margin-top: 6px;
    font-size: 0.775em; }

.notfound .panel {
  margin-top: 42px;
  background: #ddd; }

.reset-pswrd {
  background: #fff url("../img/login-bg.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 90px 0 90px; }
  .reset-pswrd .panel {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 33px; }
  .reset-pswrd #reset .log-in__cmnpt {
    margin-bottom: 33px; }
    .reset-pswrd #reset .log-in__cmnpt input[type=text], .reset-pswrd #reset .log-in__cmnpt input[type=password] {
      -webkit-appearance: none;
      font-family: "Roboto Slab", "Georgia", "Cambria", "Times New Roman", "Times", serif;
      font-weight: 300;
      font-size: 1.875rem;
      height: 51px;
        height-padding: 0px 15px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -ms-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      -o-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12);
      box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12); }
      .reset-pswrd #reset .log-in__cmnpt input[type=text]::-webkit-input-placeholder, .reset-pswrd #reset .log-in__cmnpt input[type=password]::-webkit-input-placeholder {
        color: inherit; }
      .reset-pswrd #reset .log-in__cmnpt input[type=text]:-moz-placeholder, .reset-pswrd #reset .log-in__cmnpt input[type=password]:-moz-placeholder {
        color: inherit; }
      .reset-pswrd #reset .log-in__cmnpt input[type=text]::-moz-placeholder, .reset-pswrd #reset .log-in__cmnpt input[type=password]::-moz-placeholder {
        color: inherit; }
      .reset-pswrd #reset .log-in__cmnpt input[type=text]:-ms-input-placeholder, .reset-pswrd #reset .log-in__cmnpt input[type=password]:-ms-input-placeholder {
        color: inherit; }
    .reset-pswrd #reset .log-in__cmnpt.has-error label.has-error {
      color: inherit;
      display: block;
      font-weight: 400;
      margin-top: 6px;
      font-size: 0.775em; }
  .reset-pswrd #reset .disclosure {
    padding: 6px 0; }
  .reset-pswrd #request-sent {
    display: none; }

.search #results ul li {
  height: 60px;
  background: #ccc;
  padding: 0 12px;
  border: 1px solid #333;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .search #results ul li strong {
    line-height: 60px; }
  .search #results ul li .contact-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 12px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    top: -2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }
    .search #results ul li .contact-avatar img {
      width: 100%;
      height: 100%; }
    .search #results ul li .contact-avatar span {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      font-family: 'FontAwesome';
      display: inline-block;
      text-align: center;
      margin-right: 12px;
      background: #fff;
      font-size: 2em;
      height: 50px;
      width: 50px;
      color: #333; }
  .search #results ul li a:hover {
    text-decoration: none; }
  .search #results ul li .btn-group {
    vertical-align: middle;
    padding-top: 9px;
    float: right; }
    .search #results ul li .btn-group .btn-default {
      font-family: 'FontAwesome';
      font-size: 1.175em; }
  .search #results ul li address {
    display: none;
    z-index: 10;
    top: -138px;
    background: #fff;
    position: absolute;
    padding: 12px;
    max-width: 250px;
    border: 1px solid #333;
    position: relative;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    .search #results ul li address:after, .search #results ul li address:before {
      border: solid transparent;
      pointer-events: none;
      position: absolute;
      content: " ";
      height: 0;
      width: 0;
      top: 100%;
      left: 50%; }
    .search #results ul li address:after {
      border-color: rgba(51, 51, 51, 0);
      border-top-color: #fff;
      border-width: 12px;
      margin-left: -12px; }
    .search #results ul li address:before {
      border-color: rgba(51, 51, 51, 0);
      border-top-color: #333;
      border-width: 13px;
      margin-left: -13px; }
    .search #results ul li address .close {
      position: absolute;
      top: 6px;
      right: 6px; }

.spinner {
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8); }
  .spinner .spinner-wrapper {
    width: 60px;
    height: 60px;
    margin: 25% auto;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    .spinner .spinner-wrapper .fa-spinner {
      position: relative;
      left: 2px;
      font-size: 2.5em;
      line-height: 60px;
      text-align: center; }

.usr-profile #employee-add {
  float: right;
  margin: 21px 0 0; }
  .usr-profile #employee-add .btn:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: '\f067'; }

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  color: #000;
  font: 16px/1.5 "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

h1, h2, h3, h4, h5, h6 p, label, address, abbr, label, li, input, span, td, strong, em, dd, dt, sup, sub, b, i {
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p, label, address, abbr, button, label, li, input, span, td, a, strong, em, dd, dt, sup, sub, b, i {
  font-size: 1em; }

h1, h2, h3 {
  font-family: "Roboto Slab", "Georgia", "Cambria", "Times New Roman", "Times", serif; }

p, address, li, dd, dt {
  margin: 0 0 18px; }

abbr, address {
  font-weight: normal;
  font-style: normal; }

button, label {
  display: inline;
  zoom: 1; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

sub, sup {
  font-size: 55%; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 0; }

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

.right {
  text-align: right;
  margin-right: 0;
  margin-left: auto; }

.underline {
  text-decoration: underline; }

.disc li {
  list-style: disc;
  margin-left: 1em; }

#main {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1; }

body {
  background: #111826; }

#main {
  background: #fff; }
  #main .centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  #main .navbar {
    background: #111826;
    color: #fff;
    border: none;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-borer-radius: 0;
    border-radius: 0; }
    #main .navbar .navbar-brand {
      color: #fff; }
    #main .navbar #search-submit {
      font-family: 'FontAwesome'; }
    #main .navbar .settings-wrapper {
      padding-top: 8px;
      padding-bottom: 10px;
      padding-right: 15px; }
      #main .navbar .settings-wrapper .settings-btn {
        font-family: 'FontAwesome'; }
  #main #hero {
    background-color: #111826;
    background-image: -webkit-linear-gradient(#111826, #273757);
    background-image: linear-gradient(#111826, #273757, , , , , , , , );
    padding-top: 42px;
    padding-bottom: 42px; }
    #main #hero .page-header {
      border-bottom: none; }
    #main #hero h1 {
      color: #5d90f5; }
      #main #hero h1 small {
        color: #fff; }
    #main #hero p {
      color: #fff;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto; }
    #main #hero #avatar {
      float: left;
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin-right: 21px;
      background: #fff;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%; }
      #main #hero #avatar img {
        font-size: 1em;
        color: #333;
        width: 100%;
        height: 100%; }
      #main #hero #avatar span {
        color: #333;
        display: block;
        font-size: 6em;
        margin: 0 auto;
        text-align: center;
        font-family: 'FontAwesome'; }
      #main #hero #avatar + h1 {
        padding-top: 25px; }
  #main #content #wrapper {
    padding-top: 0;
    padding-bottom: 42px; }
  #main #footer {
    background-color: #273757;
    background-image: -webkit-linear-gradient(#273757, #111826);
    background-image: linear-gradient(#273757, #111826, , , , , , , , );
    color: #fff;
    padding-top: 42px;
    padding-bottom: 42px; }
    #main #footer p {
      color: #fff;
      font-size: 0.875em;
      margin-bottom: 9px;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto; }
  #main .disclosure:after {
    margin-left: 6px;
    font-family: 'FontAwesome';
    content: "ï„…"; }
  #main .disclosure:hover {
    text-decoration: none; }

.no-placeholder {
  display: none; }
