@import 'particles/index';
@import 'atoms/index';
@import 'molcules/index';
@import 'elements/index';
@import 'pages/index';

/* General
================================================== */
body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    color: #000;
    font: 16px/1.5 $sans;
}
h1, h2, h3, h4, h5, h6 p, label, address, abbr, label, li, input, span, td, strong, em, dd, dt, sup, sub, b, i {
  color: inherit;
  @include font-smoothing(on);
}
p, label, address, abbr, button, label, li, input, span, td, a, strong, em, dd, dt, sup, sub, b, i {font-size: 1em;}
h1,h2,h3 {font-family: $serif;}
p, address, li, dd, dt {margin: 0 0 18px;}
abbr, address {font-weight: normal; font-style: normal;}
button, label {display: inline; zoom: 1;}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
sub, sup {font-size: 55%;}
strong, b {font-weight: 600;}
em, i {font-style: italic;}
.left {text-align: left; margin-right: auto; margin-left: 0;}
.center {text-align: center; margin-right: auto; margin-left: auto;}
.right {text-align: right; margin-right: 0; margin-left: auto;}
.underline {text-decoration: underline;}
.disc {
  li { @include list(disc); }
}
#main {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
}
