$black: #000;
$black-rgb: rgb(0,0,0);
$white: #fff;
$white-rgb: rgb(255,255,255);
$cream: rgb(248, 245, 233);
$blue: rgb(17, 24, 38);
$oblue: rgb(39, 55, 87);
$green: rgb(77, 140, 81);
$connect: rgb(42, 60, 94);
$social: rgb(112, 128, 144);
$ref: #136fd2;
$wblue: #5d90f5;